// {
//   "extends":"airbnb"
// }


 {
    "extends": "airbnb-base",
    // "parser": "@typescript-eslint/parser",
    // "plugins": ["@typescript-eslint"],
    "rules": {
      // Additional rules or overrides go here
    }
  }
 
  